body{
background-image: url("https://scontent.fdel1-4.fna.fbcdn.net/v/t1.0-9/26230006_1675695585814289_5309286836367043367_n.jpg?_nc_cat=0&oh=3fd9faef0a238c51bbcd249c7539ceb7&oe=5BEA99EC");
background-repeat: no-repeat;
background-size: auto;
background-color: silver;
}